<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

	<header>
		<div class="container">
		<div id="brandname">
			大数据变小数据
		</div>
		<h2>客户价值挖掘应用</h2>
		
	</div>
	</header>

	<div class="ml-container">

		<form action="{{ url_for('predict')}}" method="POST">
		<p>请在此输入你的客户ID</p>
		<!-- <input type="text" name="comment"/> -->
		<textarea name="message" rows="4" cols="50">HK000000580H</textarea>
		<br/>

		<input type="submit" class="btn-info" value="推荐">
	</form>
		
	</div>
	<form action="{{ url_for('training')}}" method="POST">
		<h3>更新参数,重新训练模型</h3>
		<!-- <input type="text" name="comment"/> -->
		<textarea name="parameters" rows="1" cols="30">K_value = 3, max_iter_eps = 500
		</textarea>
		<br/>
		<input type="submit" class="btn-info" value="训练">
	</form>
	K-Means方法有个经常被人诟病的地方，如何选择K值？也就是要把样本分成多少类呢？如果贸然定一个，会太主观，所以还是要用数据说话。一般采用三个指标：

	Calinski-Harabaz Index。通过计算类中各点与类中心的距离平方和来度量类内的紧密度，通过计算各类中心点与数据集中心点距离平方和来度量数据集的分离度，CH指标由分离度与紧密度的比值得到。从而，CH越大代表着类自身越紧密，类与类之间越分散，即更优的聚类结果。
	轮廓系数。轮廓系数（Silhouette Coefficient），值是介于 [-1,1] ，越趋近于1代表内聚度和分离度都相对较优。也就是尽量选择更大的轮廓系数。
	inertia值。kmeans自带的评价方法，越小说明聚类效果越好。
</body>
</html>
